<div>
  ホームページのトップをに関するデザイン
</div>
<h1>新着商品</h1>
<!--  <div>-->
<!--  <%# @items.each do |item| %>-->
<!--    <img src="<%#= item.image_url %>">-->
<!--    <div><%#= item.name %></div>-->
<!--    <div><#%= item.price %></div>-->
<!--  <%# end %>-->
<!--</div>-->
<!--<div><%#= link_to 'すべての商品を見る', items_path %></div>-->