<footer>
  <div class="container-fluid fixed-bottom" style="background-color:#ffffe0;">
    <div class="row">
      <div class=" col pt-3 text-center">
        <p>Nagano Cake Succeed.co</p>
      </div>
    </div>
  </div>
</footer>